<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="app.js"></script>
</head>

<body ng-app="InterestCalculator" ng-controller="CalculatorController">
	<div class="container">
		<div class="input-container">
			<h1>Interest Calculator</h1>
			<form novalidate>
				<fieldset>
					<label>Select type of Interest:</label>
					<div class="radio-inline">
						<input ng-model="input.interestType" type="radio" value="1" id="interest-type-simple" />
						<label for="interest-type-simple">Simple</label>
					</div>
					<div class="radio-inline">
						<input ng-model="input.interestType" type="radio" value="2" id="interest-type-compound" />
						<label for="interest-type-compound">Compound</label>
					</div>
				</fieldset>
				<fieldset>
					<label for="principal">Principal:</label>
					<input ng-model="input.principal" type="number" id="principal" />
				</fieldset>
				<fieldset>
					<label for="interest-rate">Interest Rate (%):</label>
					<input ng-model="input.interestRate" type="number" id="interest-rate" />
				</fieldset>
				<fieldset>
					<label for="time-period">Time Period (Years):</label>
					<input ng-model="input.timePeriod" type="number" id="time-period" />
				</fieldset>
				<fieldset ng-if="input.interestType == '2'">
					<label for="compound-frequency">Compound Frequency:</label>
					<select ng-model="input.compoundFrequency" id="compound-frequency">
						<option value="1">Annually</option>
						<option value="2">Semiannually</option>
						<option value="4">Quarterly</option>
						<option value="12">Monthly</option>
					</select>
				</fieldset>
				<fieldset>
					<button ng-click="calculate()" type="submit">Calculate</button>
				</fieldset>
			</form>
		</div>
		<div class="output-container">
			<h1>Result</h1>
			<div ng-if="output">
				<table>
					<thead>
						<tr>
							<th>Year</th>
							<th class="right-align">Interest</th>
							<th class="right-align">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in output.details">
							<td>{{ data.year }}</td>
							<td class="right-align">{{ data.interest | number : 2 }}</td>
							<td class="right-align">{{ data.balance | number : 2 }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th class="right-align"></th>
							<th class="right-align">Total Interest: {{ output.summary.interest | number : 2 }}</th>
							<th class="right-align">Final Amount: {{ output.summary.balance | number : 2 }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<p ng-if="output == false">Please press calculate to view result.</p>
		</div>
	</div>
</body>

</html>