body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

fieldset {
    border: none !important;
    padding: 0;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

fieldset > label {
    display: block;
    margin-bottom: 0.5rem;
}

fieldset > input, select {
    display: block;
    width: 100%;
    padding: .75rem .375rem;
    font-size: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

fieldset > select:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

fieldset > button[type=submit] {
    width: 100%;
    font-size: 16px;
    padding: 1rem;
}

table {
    width: 100%;
}

th, td {
    text-align: left; 
    border-top: solid 1px #eee;
    margin: 0;
    padding: 1rem;
}

th.right-align, td.right-align {
    text-align: right;
}

.radio-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

.radio-inline > input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.radio-inline > label {
    margin-bottom: 0;
    display: inline-block;
}

.container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    flex: 0 0 40%;
}

.output-container {
    flex: 0 0 60%;
    padding-left: 2.5rem; 
}



@media only screen and (max-width: 576px) {
    select {
        height: auto !important;
    }

    .input-container {
        flex: 0 0 100%;
    }

    .output-container {
        flex: 0 0 100%;
        padding-left: 0px !important; 
    }

    fieldset > button[type=submit] {
        border: solid 1px rgb(216, 216, 216);
    }
}