*, ::after, ::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.otf");
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: 0px;
    color: rgb(61,61,61);
}

header {
    background: #091c1f;
    height: 60px;
    color: rgb(242,242,242);
    padding: 13px 25px;
}

main {
    padding: 13px 25px;
}

h1, h2 {
    margin-top: 0px;
}

.circle {
    width: 36px;
    height: 36px;
    border: solid 2px;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 4px;
    color: rgb(242,242,242);
    font-family: "Montserrat";
    text-align: center;
    padding-top: 13px;
    margin-right: 12px;
}

.circle.sm {
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin-right: 0px;
    border-color: #a5714b;
    color: #a5714b;
    padding-top: 11px;
}

.circle.sm.active {
    color:  rgb(242,242,242);
    background:  #a5714b;
}

.circle.sm.disabled {
    color:  rgb(93,93,93);
    background:  #e4e4e4;
    border-color: #e4e4e4;
}

.circle.sm.hover {
    color:  rgb(93,93,93);
    background:  #f3dfdf;;
    border-color:  #ded8d8
}


.banner {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.booking-params {
    display: flex;
    padding: 0 15px;
    margin-bottom: 32px;
}

.booking-params > div {
    flex: 1;
    font-size: 16px;
    border-bottom: solid 1px #cbcbcb;
    padding: 15px;
    border-right: solid 1px #cbcbcb;
}

.booking-params > div:last-child {
    border-right: none;
}
.booking-params > div:after {
    content: "⌄";
    font-size: 32px;
    float: right;
    margin-top: -20px;
    
}

.calendar-viewport {
    display: flex;
    padding: 0 15px;
    margin-bottom: 12px;
}

.calendar-viewport > div {
    flex: 1;
    font-size: 16px;
    text-align: center;
    
}

.calendar-viewport .date {
    margin-bottom: 8px;
}

.calendar-date:last-child {
    text-align: left;
    display: flex;
    padding-top: 25px;
}

.calendar-date:last-child span {
    font-size: 21px;
    color: #cbcbcb;
}

.calendar-date:last-child > div {
    flex: 1;
    text-align: center;
}

.time-viewport {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.time-viewport h3 {
    flex: 0 0 100%;
    font-size: 15px;
}

.time-viewport .time-item {
    flex: 0 0 33.3%;
    margin-bottom: 10px;
}

.time-viewport .time-item:nth-of-type(3n-1) {
    padding: 0 10px;
}

.time-viewport .time-item div {    
    display: flex;
    background: #be987c;
    padding: 15px;
    border-radius: 4px;
}

.time-viewport .time-item.active div {    
    background: #a5714b;
}

.time-viewport .time-item.disabled div {    
    background: #eaeaea;
    color: #b9b9b9; 
}

.time-viewport .time-item span.time {
    flex: 1;
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(242,242,242);
}

.time-viewport .time-item span.position {
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(237,237,237);
    text-align: center;
}

.time-viewport .time-item.disabled span.time, .time-viewport .time-item.disabled span.position {    
    color: #b9b9b9; 
}

.time-viewport .time-item.notify div {    
    display: block;
    text-align: center;
    background: #fff;
    border: solid 1px rgb(32,32,32);
    font-size: 14px;
}

.time-viewport .time-item.notify div img{    
    margin-right: 5px;
    height: 13px;
}

@media only screen and (max-width: 576px) {
    h1{
        font-size: 18px;   
    }

    header {
        font-size: 16px;
        padding: 13px;
    }
    
    main {
        padding: 13px;
    }
    .booking-params {
        flex-wrap: wrap;
        padding: 0;
    }

    .booking-params > div {
        flex: 0 0 50%;
    }

    .booking-params > div.calendar {
        order: 3;
        flex: 0 0 100%;
        border-right: none;
    }

    .calendar-viewport {
        display: none;
    }

    .time-viewport .time-item div {    
        flex-wrap: wrap;
        padding: 10px;
    }

    .time-viewport {
        padding: 0px;
    }

    .time-viewport .time-item {
        flex: 0 0 50%;
        padding-right: 5px;
    }

    .time-viewport .time-item:nth-of-type(3n-1) {
        padding: 0px 5px 0px 0px;
    }

    .time-viewport .time-item:nth-of-type(2n) {
        padding-left: 5px;
        padding-right: 0px;
    }

    .time-viewport .time-item span.time {
        flex: 0 0 100%;
        text-align: center;
    }

    .time-viewport .time-item span.position {
        flex: 0 0 100%;
    }

}